body {
    background-color: black;
}

.vid {
    width: 424px;
    height: 240px;
    flex-grow: 1;
}

.videos {
    width: 100%;
    height: 100%;
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

body {
    background: url(IMG/KIRA.jpg) top fixed;
    display: flex;
}
